@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}
body{
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Shippori Mincho B1', serif;
    line-height: 1.7;
    color: black;
}
h2 {
    justify-content: center;
    align-items: center;
    margin: 0 calc(50% - 50vw) 30px;
}

body{
    max-width: 1000px;
    margin: 0 auto;
}
.wrap img{
    height: 300px;
    width: 500px;
}
.wrap-title{
    padding-left: 220px;
    font-size: 50px;
    padding-top: 80px;
}
.infomation{
    float: right;
}