@charset "UTF-8";

/*共通部分*/
html{
    font-size: 100%;
}

body{
    background-color: white;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Shippori Mincho B1', serif;
    line-height: 1.7;
    color: #432;
}
a{
    text-decoration: none;
}
.logo{
    width: 210px;
    margin-top: 14px;
}

.main-nav{
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
    padding-left: 900px;

}
.main-nav li{
    margin-right: 36px;
    display: inline;
}
.main-nav a{
    color: white;
}
.main-nav a:hover{
    color: #432;
}
/*記事部分*/
article{
    width: 74%;
    padding-left:200px;
}
/*サイドバー*/
aside{
    width: 22%;
}
.top-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.sub-title{
    font-size: 1.375rem;
    padding: 0 8px 8px;
    border-bottom: 2px #ddd solid;
    font-weight: normal;
}
aside p{
    padding: 12px 10px;
}
.sub-menu{
    margin-bottom: 60px;
    list-style: none;
}
.sub-menu li{
    border-bottom: 1px #ddd solid;
}
.sub-menu a{
    color: #432;
    padding: 10px;
    display: block;
}
.sub-menu a:hover{
    color: #ddd;
}
.post-title{
    font-family: "Yu Mincho","YuMincho",selif;
    font-size: 50px;
    font-weight: normal;
}
.post-title{
    margin-left: -12px;
    margin-bottom: 50px;
    margin-top: 50px;
}
article img{
    margin-bottom: 20px;
}
article p{
    margin-bottom: 1rem;
}
.page-title{
    font-size: 30px;
    font-family: 'Philosopher',serif;
    font-weight: normal;
    color: #fff;
    padding-top: 20px;
}
.top-contents wrapper img{
    height: 500px;
    width: 800px;
}
/*フォーム*/
form div{
    margin-bottom: 14px;
}
label{
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea{
    border: 1px black solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    max-width: 480px;
    width: 100%;
}

input[type="text"],
input[type="email"]{
    width: 100%;
}
textarea{
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"]{
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    line-height: 2;
    background-color: ghostwhite;
    width: 50px;
}
.wrapper img{
    height: 350px;
    width: 500px;
    float: left;
}
